<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
  <a class="navbar-brand" style="margin: 0 30px;">Movie Database</a>
  <ul class="navbar-nav" style="font-size: 20px;">
      <li class="nav-item" style="margin: 0 30px;"><a class="nav-link" routerLink="/movies">Home</a></li>
      <li class="nav-item" style="margin: 0 30px;"><a class="nav-link" routerLink="/profile">My profile</a></li>
      <li class="nav-item" style="margin: 0 30px;"><a class="nav-link" (click)="logOut()">Log out</a></li>
  </ul>
</nav>
<div style="width: 20%; display:flex; flex-direction: column; position: absolute; top: 40%;left: 40%;">
    <h1>My Profile</h1>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="user.Username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        >
        </mat-form-field>
        <mat-form-field>
        <input
          matInput
          [(ngModel)]="user.Password"
          type = "password"
          placeholder="Password"
          name="Password"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="user.Email"
          type = "email"
          placeholder="Email"
          name="Email"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="user.Birthday"
          type = "date"
          placeholder="Birthday"  
          name="Birthday"
        >
      </mat-form-field>
      <button
        class="btn btn-primary"
        (click)="editUser()"
      >
        Save my details!
      </button>
    </div>
